<div class="page">
  <div class="more-space-l"></div>
  <div class="container">
  	<h2 class="text-center"><%= @article.title %></h2>
    <%= image_tag @article.photo.url, class: "img-responsive" %>
    <p><%= @article.body %></p>
  </div>
</div>
