<!-- Begin footer section -->
<footer id="footer">
  <div class="container text-white">
    <div class="row">
      <div class="col-md-6">
        <div class="copyright">
          Acens © Todos os direitos reservados
        </div>
      </div>
      <div class="col-md-6 text-right">
        <div class="powered">
          Design by:
          <a target="_blank" href="https://creativemarket.com/Themetorium">Themetorium</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End footer section -->
