<!-- Begin portfolio section -->
<section id="portfolio-section" class="page">

  <!-- Begin page header-->
  <div class="page-header-wrapper">
    <div class="container">
      <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
        <h1>See Our
          <span class="text-main">Portfolio</span>
        </h1>
        <div class="divider divider-md divider-icon">//</div>
        <p class="lead text-gray">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        </p>
      </div>
    </div>
  </div>
  <!-- End page header-->

  <!-- Begin portfolio -->
  <div class="portfolio">
    <div class="container-fluid">
      <div class="row">

        <!-- Portfolio item-1 -->
        <div class="portfolio-item col-sm-6 col-md-6 col-lg-3 wow flipInX" data-wow-delay="0.2s">
          <a href="#" class="thumbnail" data-toggle="modal" data-target="#portfolioModal-1">
            <img src="img/portfolio/portfolio-1.jpg" alt="...">
            <div class="cover"></div>
            <div class="caption">
              <div class="caption-content text-center">
                <h2>Carousel Portfolio</h2>
                <div class="divider divider-sm"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
              </div>
            </div>
          </a>
        </div>

        <!-- Begin portfolio modal-1 (Carousel Portfolio) -->
        <div class="modal fade" id="portfolioModal-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-5" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content text-white">
              <div class="close" data-dismiss="modal">
                <div class="lr">
                  <div class="rl"></div>
                </div>
              </div>
              <div class="container">
                <div class="modal-body">
                  <div class="row">
                    <div class="col-lg-7">
                      <div class="modal-image">
                        <div class="owl-carousel owl-portfolio-modal">
                          <img src="img/portfolio/portfolio-11.jpg" alt="...">
                          <img src="img/portfolio/portfolio-22.jpg" alt="...">
                          <img src="img/portfolio/portfolio-33.jpg" alt="...">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-5">
                      <div class="modal-header">
                        <h2 class="modal-title" id="myModalLabel-5">Carousel Portfolio</h2>
                        <div class="divider divider-sm divider-white divider-left"></div>
                      </div>
                      <div class="modal-text">
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                        </p>
                      </div>
                      <div class="modal-details">
                        <ul>
                          <li>Client:
                            <strong>
                              <a href="https://creativemarket.com/Themetorium" target="_blank">Envato Market</a>
                            </strong>
                          </li>
                          <li>Date:
                            <strong>
                              <a href="https://creativemarket.com/Themetorium" target="_blank">April 2014</a>
                            </strong>
                          </li>
                          <li>Service:
                            <strong>
                              <a href="https://creativemarket.com/Themetorium" target="_blank">Web Development</a>
                            </strong>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <p>Copyright ©2014, All Rights Reserved</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End portfolio modal-1 -->

        <!-- Portfolio item-2 -->
        <div class="portfolio-item col-sm-6 col-md-6 col-lg-3 wow flipInX" data-wow-delay="0.3s">
          <a href="#" class="thumbnail" data-toggle="modal" data-target="#portfolioModal-2">
            <img src="img/portfolio/portfolio-2.jpg" alt="...">
            <div class="cover"></div>
            <div class="caption">
              <div class="caption-content text-center">
                <h2>Vimeo Portfolio</h2>
                <div class="divider divider-sm"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
              </div>
            </div>
          </a>
        </div>

        <!-- Begin portfolio modal-2 (Vimeo Portfolio) -->
        <div class="modal fade" id="portfolioModal-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-6" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content text-white">
              <div class="close" data-dismiss="modal">
                <div class="lr">
                  <div class="rl"></div>
                </div>
              </div>
              <div class="container">
                <div class="modal-body">
                  <div class="row">
                    <div class="col-lg-7">
                      <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="http://player.vimeo.com/video/47505825" allowfullscreen></iframe>
                      </div>
                    </div>
                    <div class="col-lg-5">
                      <div class="modal-header">
                        <h2 class="modal-title" id="myModalLabel-6">Vimeo Portfolio</h2>
                        <div class="divider divider-sm divider-white divider-left"></div>
                      </div>
                      <div class="modal-text">
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                      </div>
                      <div class="modal-details">
                        <ul>
                          <li>Client:
                            <strong>
                              <a href="https://creativemarket.com/Themetorium" target="_blank">Envato Market</a>
                            </strong>
                          </li>
                          <li>Date:
                            <strong>
                              <a href="https://creativemarket.com/Themetorium" target="_blank">April 2014</a>
                            </strong>
                          </li>
                          <li>Service:
                            <strong>
                              <a href="https://creativemarket.com/Themetorium" target="_blank">Web Development</a>
                            </strong>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <p>Copyright ©2014, All Rights Reserved</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End portfolio modal-2 -->

        <!-- Portfolio item-3 -->
        <div class="portfolio-item col-sm-6 col-md-4 col-lg-3 wow flipInX" data-wow-delay="0.4s">
          <a href="#" class="thumbnail" data-toggle="modal" data-target="#portfolioModal-3">
            <img src="img/portfolio/portfolio-3.jpg" alt="...">
            <div class="cover"></div>
            <div class="caption">
              <div class="caption-content text-center">
                <h2>Single Image Portfolio</h2>
                <div class="divider divider-sm"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
              </div>
            </div>
          </a>
        </div>

        <!-- Begin portfolio modal-3 (Single Image Portfolio) -->
        <div class="modal fade" id="portfolioModal-3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-7" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content text-white">
              <div class="close" data-dismiss="modal">
                <div class="lr">
                  <div class="rl"></div>
                </div>
              </div>
              <div class="container">
                <div class="modal-body">
                  <div class="row">
                    <div class="col-lg-7">
                      <div class="modal-image">
                        <img src="img/portfolio/portfolio-33.jpg" alt="...">
                      </div>
                    </div>
                    <div class="col-lg-5">
                      <div class="modal-header">
                        <h2 class="modal-title" id="myModalLabel-7">Single Image Portfolio</h2>
                        <div class="divider divider-sm divider-white divider-left"></div>
                      </div>
                      <div class="modal-text">
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                        </p>
                      </div>
                      <div class="modal-details">
                        <ul>
                          <li>Client:
                            <strong>
                              <a href="https://creativemarket.com/Themetorium" target="_blank">Envato Market</a>
                            </strong>
                          </li>
                          <li>Date:
                            <strong>
                              <a href="https://creativemarket.com/Themetorium" target="_blank">April 2014</a>
                            </strong>
                          </li>
                          <li>Service:
                            <strong>
                              <a href="https://creativemarket.com/Themetorium" target="_blank">Web Development</a>
                            </strong>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <p>Copyright ©2014, All Rights Reserved</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End portfolio modal-3 -->

        <!-- Portfolio item-4 -->
        <div class="portfolio-item col-sm-6 col-md-4 col-lg-3 wow flipInX" data-wow-delay="0.5s">
          <a href="#" class="thumbnail" data-toggle="modal" data-target="#portfolioModal-4">
            <img src="img/portfolio/portfolio-4.jpg" alt="...">
            <div class="cover"></div>
            <div class="caption">
              <div class="caption-content text-center">
                <h2>Youtube Portfolio</h2>
                <div class="divider divider-sm"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
              </div>
            </div>
          </a>
        </div>

        <!-- Begin portfolio modal-4 (Youtube Portfolio) -->
        <div class="modal fade" id="portfolioModal-4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-8" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content text-white">
              <div class="close" data-dismiss="modal">
                <div class="lr">
                  <div class="rl"></div>
                </div>
              </div>
              <div class="container">
                <div class="modal-body">
                  <div class="row">
                    <div class="col-lg-7">
                      <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/95FBb9MxfeI"></iframe>
                      </div>
                    </div>
                    <div class="col-lg-5">
                      <div class="modal-header">
                        <h2 class="modal-title" id="myModalLabel-8">Youtube Portfolio</h2>
                        <div class="divider divider-sm divider-white divider-left"></div>
                      </div>
                      <div class="modal-text">
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                      </div>
                      <div class="modal-details">
                        <ul>
                          <li>Client:
                            <strong>
                              <a href="https://creativemarket.com/Themetorium" target="_blank">Envato Market</a>
                            </strong>
                          </li>
                          <li>Date:
                            <strong>
                              <a href="https://creativemarket.com/Themetorium" target="_blank">April 2014</a>
                            </strong>
                          </li>
                          <li>Service:
                            <strong>
                              <a href="https://creativemarket.com/Themetorium" target="_blank">Web Development</a>
                            </strong>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <p>Copyright ©2014, All Rights Reserved</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End portfolio modal-4 -->

        <!-- Portfolio item-5 -->
        <div class="portfolio-item col-sm-6 col-md-4 col-lg-3 wow flipInX" data-wow-delay="0.6s">
          <a href="#" class="thumbnail" data-toggle="modal" data-target="#portfolioModal-5">
            <img src="img/portfolio/portfolio-5.jpg" alt="...">
            <div class="cover"></div>
            <div class="caption">
              <div class="caption-content text-center">
                <h2>One Column Portfolio</h2>
                <div class="divider divider-sm"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
              </div>
            </div>
          </a>
        </div>

        <!-- Begin portfolio modal-5 (One Column Portfolio) -->
        <div class="modal fade" id="portfolioModal-5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-9" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content text-white">
              <div class="close" data-dismiss="modal">
                <div class="lr">
                  <div class="rl"></div>
                </div>
              </div>
              <div class="container">
                <div class="modal-body text-center">
                  <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                      <div class="modal-header">
                        <h2 class="modal-title" id="myModalLabel-9">One Column Portfolio</h2>
                        <div class="divider divider-sm divider-icon divider-white">//</div>
                      </div>
                      <div class="modal-image">
                        <div class="owl-carousel owl-portfolio-modal">
                          <img src="img/portfolio/portfolio-55.jpg" alt="...">
                          <img src="img/portfolio/portfolio-66.jpg" alt="...">
                          <img src="img/portfolio/portfolio-77.jpg" alt="...">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                      <div class="modal-text">
                        <p class="text-justify">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur exercitation ullamco laboris.
                        </p>
                      </div>
                      <div class="modal-details">
                        <ul class="list-inline">
                          <li>Client:
                            <strong>
                              <a href="https://creativemarket.com/Themetorium" target="_blank">Envato Market</a>
                            </strong>
                          </li>
                          <li>Date:
                            <strong>
                              <a href="https://creativemarket.com/Themetorium" target="_blank">April 2014</a>
                            </strong>
                          </li>
                          <li>Service:
                            <strong>
                              <a href="https://creativemarket.com/Themetorium" target="_blank">Web Development</a>
                            </strong>
                          </li>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <p>Copyright ©2014, All Rights Reserved</p>
                      </div>
                      <button type="button" class="btn btn-main" data-dismiss="modal">
                        <i class="fa fa-times"></i>
                        Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End portfolio modal-5 -->

        <!-- Portfolio item-6 -->
        <div class="portfolio-item col-sm-6 col-md-4 col-lg-3 wow flipInX" data-wow-delay="0.7s">
          <a href="#" class="thumbnail" data-toggle="modal" data-target="#portfolioModal-6">
            <img src="img/portfolio/portfolio-6.jpg" alt="...">
            <div class="cover"></div>
            <div class="caption">
              <div class="caption-content text-center">
                <h2>Carousel Portfolio</h2>
                <div class="divider divider-sm"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
              </div>
            </div>
          </a>
        </div>

        <!-- Begin portfolio modal-6 (Carousel Portfolio) -->
        <div class="modal fade" id="portfolioModal-6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-10" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content text-white">
              <div class="close" data-dismiss="modal">
                <div class="lr">
                  <div class="rl"></div>
                </div>
              </div>
              <div class="container">
                <div class="modal-body">
                  <div class="row">
                    <div class="col-lg-7">
                      <div class="modal-image">
                        <div class="owl-carousel owl-portfolio-modal">
                          <img src="img/portfolio/portfolio-66.jpg" alt="...">
                          <img src="img/portfolio/portfolio-77.jpg" alt="...">
                          <img src="img/portfolio/portfolio-88.jpg" alt="...">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-5">
                      <div class="modal-header">
                        <h2 class="modal-title" id="myModalLabel-10">Carousel Portfolio</h2>
                        <div class="divider divider-sm divider-white divider-left"></div>
                      </div>
                      <div class="modal-text">
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                        </p>
                      </div>
                      <div class="modal-details">
                        <ul>
                          <li>Client:
                            <strong>
                              <a href="https://creativemarket.com/Themetorium" target="_blank">Envato Market</a>
                            </strong>
                          </li>
                          <li>Date:
                            <strong>
                              <a href="https://creativemarket.com/Themetorium" target="_blank">April 2014</a>
                            </strong>
                          </li>
                          <li>Service:
                            <strong>
                              <a href="https://creativemarket.com/Themetorium" target="_blank">Web Development</a>
                            </strong>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <p>Copyright ©2014, All Rights Reserved</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End portfolio modal-6 -->

        <!-- Portfolio item-7 -->
        <div class="portfolio-item col-sm-6 col-md-4 col-lg-3 wow flipInX" data-wow-delay="0.8s">
          <a href="#" class="thumbnail" data-toggle="modal" data-target="#portfolioModal-7">
            <img src="img/portfolio/portfolio-7.jpg" alt="...">
            <div class="cover"></div>
            <div class="caption">
              <div class="caption-content text-center">
                <h2>One Column Portfolio</h2>
                <div class="divider divider-sm"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
              </div>
            </div>
          </a>
        </div>

        <!-- Begin portfolio modal-7 (One Column Portfolio) -->
        <div class="modal fade" id="portfolioModal-7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-11" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content text-white">
              <div class="close" data-dismiss="modal">
                <div class="lr">
                  <div class="rl"></div>
                </div>
              </div>
              <div class="container">
                <div class="modal-body text-center">
                  <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                      <div class="modal-header">
                        <h2 class="modal-title" id="myModalLabel-11">One Column Portfolio</h2>
                        <div class="divider divider-sm divider-icon divider-white">//</div>
                      </div>
                      <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="http://player.vimeo.com/video/47505825" allowfullscreen></iframe>
                      </div>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                      <div class="modal-text">
                        <p class="text-justify">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur exercitation ullamco laboris.
                        </p>
                      </div>
                      <div class="modal-details">
                        <ul class="list-inline">
                          <li>Client:
                            <strong>
                              <a href="https://creativemarket.com/Themetorium" target="_blank">Envato Market</a>
                            </strong>
                          </li>
                          <li>Date:
                            <strong>
                              <a href="https://creativemarket.com/Themetorium" target="_blank">April 2014</a>
                            </strong>
                          </li>
                          <li>Service:
                            <strong>
                              <a href="https://creativemarket.com/Themetorium" target="_blank">Web Development</a>
                            </strong>
                          </li>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <p>Copyright ©2014, All Rights Reserved</p>
                      </div>
                      <button type="button" class="btn btn-main" data-dismiss="modal">
                        <i class="fa fa-times"></i>
                        Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End portfolio modal-7 -->

        <!-- Portfolio item-8 -->
        <div class="portfolio-item col-sm-6 col-md-4 col-lg-3 wow flipInX" data-wow-delay="0.9s">
          <a href="#" class="thumbnail" data-toggle="modal" data-target="#portfolioModal-8">
            <img src="img/portfolio/portfolio-8.jpg" alt="...">
            <div class="cover"></div>
            <div class="caption">
              <div class="caption-content text-center">
                <h2>Single Image Portfolio</h2>
                <div class="divider divider-sm"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
              </div>
            </div>
          </a>
        </div>

        <!-- Begin portfolio modal-8 (Single Image Portfolio) -->
        <div class="modal fade" id="portfolioModal-8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-12" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content text-white">
              <div class="close" data-dismiss="modal">
                <div class="lr">
                  <div class="rl"></div>
                </div>
              </div>
              <div class="container">
                <div class="modal-body">
                  <div class="row">
                    <div class="col-lg-7">
                      <div class="modal-image">
                        <img src="img/portfolio/portfolio-88.jpg" alt="...">
                      </div>
                    </div>
                    <div class="col-lg-5">
                      <div class="modal-header">
                        <h2 class="modal-title" id="myModalLabel-12">Single Image Portfolio</h2>
                        <div class="divider divider-sm divider-white divider-left"></div>
                      </div>
                      <div class="modal-text">
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                        </p>
                      </div>
                      <div class="modal-details">
                        <ul>
                          <li>Client:
                            <strong>
                              <a href="https://creativemarket.com/Themetorium" target="_blank">Envato Market</a>
                            </strong>
                          </li>
                          <li>Date:
                            <strong>
                              <a href="https://creativemarket.com/Themetorium" target="_blank">April 2014</a>
                            </strong>
                          </li>
                          <li>Service:
                            <strong>
                              <a href="https://creativemarket.com/Themetorium" target="_blank">Web Development</a>
                            </strong>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <p>Copyright ©2014, All Rights Reserved</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End portfolio modal-8 -->

      </div>
      <!-- /.row -->

      <!-- Begin view-more button -->
      <div class="view-more text-center">
        <a href="#" class="btn btn-main btn-lg" role="button">View More..</a>
      </div>
      <!-- End view-more button -->

    </div>
    <!-- /.container -->
  </div>
  <!-- End portfolio -->
</section>
<!-- End portfolio section -->
